@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  font-family: "Roboto";
  background-color: #ebedeb;
}
main {
  height: 100%;
}

#root {
  height: 100vh;
}

.flex-center-all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.textField:focus {
  border-color: yellow;
}
